asgiref==3.2.3
astroid==2.3.3
awsebcli==3.18.1
blis==0.2.4
botocore==1.15.49
cement==2.8.2
certifi==2019.11.28
chardet==3.0.4
ChatterBot==1.0.4
chatterbot-corpus==1.2.0
colorama==0.4.3
cymem==2.0.3
dj-database-url==0.5.0
Django==3.0.2
docutils==0.15.2
future==0.16.0
gunicorn==20.0.4
idna==2.7
isort==4.3.21
jmespath==0.10.0
lazy-object-proxy==1.4.3
mathparse==0.1.2
mccabe==0.6.1
murmurhash==1.0.2
nltk==3.4.5
numpy==1.18.1
pathspec==0.5.9
Pint==0.10.1
plac==0.9.6
preshed==2.0.1
psycopg2==2.8.5
pylint==2.4.4
pymongo==3.10.1
pypiwin32==223
python-dateutil==2.7.5
pytz==2019.3
PyYAML==5.3.1
requests==2.20.1
semantic-version==2.5.0
six==1.11.0
spacy==2.1.9
SQLAlchemy==1.2.19
sqlparse==0.3.0
srsly==1.0.1
termcolor==1.1.0
thinc==7.0.8
tqdm==4.42.0
typed-ast==1.4.1
urllib3==1.24.3
wasabi==0.6.0
wcwidth==0.1.9
whitenoise==5.1.0
wrapt==1.11.2
